.calendar
  .calendar__container
    .calendar__container__heading
      小森さんちのカレンダー
      -# = @group.name
    .calendar__container__group
      %ul.calendar__container__group__menber
        -# - @group.users.each do |user|
        -#   %li= user.image
        %li.calendar__container__group__menber__icon
          = image_tag "square1200.jpg"
        %li.calendar__container__group__menber__icon
          = image_tag "flower.jpg"
        %li.calendar__container__group__menber__icon
          = image_tag "pic01.jpg"
      .calendar__container__group__edit
        = link_to edit_group_path(current_user) do
          = icon('fas', 'users-cog', class:"calendar__group__edit__icon")
    .calendar__container__main
      #calendar

%nav#list-navi
  - current_user.groups.each do |group|
    .menu
      = link_to "#" do
        = group.name
