.chat
  .messages
    .messages__message
      .messages__message__upper-box
        = image_tag "pic01.jpg"
        .messages__message__upper-box__date
          2020/2/22 14:00
      .messages__message__text
        日曜日は９時出発だっけ？
    .messages__message
      .messages__message__upper-box
        = image_tag "square1200.jpg"
        .messages__message__upper-box__date
          2020/2/22 14:05
      .messages__message__text
        ８時半だよ
    .messages__message
      .messages__message__upper-box
        = image_tag "pic01.jpg"
        .messages__message__upper-box__date
          2020/2/22 14:00
      .messages__message__text
        ありがとう！！
  .form
    .input-box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
    %submit.send-btn
      = icon('fas', 'paper-plane')