= form_for group do |f|
  - if group.errors.any?
    .calendar-group-form__errors
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  .calendar-group-form__field
    .calendar-group-form__field--left
      = f.label :name, class: 'calendar-group-form__label'
    .calendar-group-form__field--right
      = f.text_field :name, class: 'calendar__group_name calendar-group-form__input', placeholder: 'グループ名を入力してください'
  .calendar-group-form__field.clearfix
  .calendar-group-form__field.clearfix
    .calendar-group-form__field--left
      %label.calendar-group-form__label{:for => "calendar_group_メンバー"} メンバー
    .calendar-group-form__field--right
      = f.collection_check_boxes :user_ids, User.all, :id, :name
  .calendar-group-form__field.clearfix
    .calendar-group-form__field--left
    .calendar-group-form__field--right
      = f.submit class: 'calendar-group-form__action-btn'