.games
  .games__container
    .games__container__game
      = link_to "https://dora-world.com/games/nigenobi#stage" do
        = image_tag "nigero", clsss:"game-image"
      %h2 逃げろ！のび太くん
      %p おいかけてくるジャイアンから走ってにげるのび太をクリックでほうこうをかえてしょうがいぶつや、犬にあたらないようにゆうどうしてあげよう！
    .games__container__game
      = link_to "https://dora-world.com/games/korogaru_ball" do
        = image_tag "ball"
      %h2 コロガルボール
      %p ドラえもんたちのボールをころがして、ゴールをめざそう！ゲージをとばしたい向きと逆にひっぱってはなすと、ボールがとんでいきます。いちばん下までいくとゴールです。
    .games__container__game
      = link_to "https://dora-world.com/games/nezumitataki#stage" do
        = image_tag "nezumi"
      %h2 ねずみたたき
      %p ドラえもんの大きらいなねずみをたたいて、たいじしよう！ドラねずみをたたくと、じかんがへってしまうよ！ れんぞくでネズミをたいじすると、フィーバータイムになります。 
    .games__container__game
      = link_to "https://dora-world.com/games/slidepuzzle#stage" do
        = image_tag "pazule"
      %h2 スライドパズル
      %p あいているマスのとなりのマスをさわると、マスがいどうするよ。マスをうごかして、絵をかんせいさせよう！
    .games__container__game
      = link_to "https://dora-world.com/games/kurimanju#stage" do
        = image_tag "kuri"
      %h2 栗まんじゅうふきとばし
      %p どんどんふえる栗まんじゅうをクリックして、ふきとばしてのび太くんにたべさせよう！ジャイアンが栗まんじゅうを支えきれなくなったらゲームオーバー。
    .games__container__game
      = link_to "https://dora-world.com/games/eawase#stage" do
        = image_tag "eawase"
      %h2 絵合わせゲーム
      %p カードをクリックしておなじ絵のカードをそろえよう！「かんたん」はカード6まい、「ふつう」はカード12まい、 「むずかしい」はカード18まいです。